{% extends 'base.html'%}
{% load static %}

{% block content %}


    <div class="carousel blogcarousel" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active carousel-blog matukio-carousel-bottom">
                <img src="{{pice.picha.url}}" class="d-block w-100" alt="church">
                <div class="carousel-caption carousel-caption1">
                    <p class="blog-text">MT-AMBROSI TAGASTE</p><br>
                    <h5 class="blog-title">mahubiri</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mahubiri-container">
        <div class="discover-section-mahubiri pt-4">
            <div class="discover-line-mahubiri"></div>
            <div class="discover-text-mahubiri"><i class="bi bi-droplet-fill space-right"></i>NENO LA MUNGU<i class="fa-solid fa-cross space-left"></i></div>
            <div class="discover-line-mahubiri"></div>
        </div>
        <div class="row row-mahubiri gx-3 gy-4">
            {% for Sermon in Sermons %}
            <div class="col-12 col-sm-6 col-md-6">
                <a href="{% url 'mahubiri_page' Sermon.id %}" class="card-makala-cards-link">
                    <div class="card card-mahubiri-card1 h-100 ">
                        <img src="{{Sermon.picha.url}}" class="card-img-top card-mahubiri-img-top" alt="church">
                        <div class="card-body card-mahubiri-body">
                            <span class="card-makala-cards-title pb-2"><i class="bi bi-calendar2-check-fill"></i>{{Sermon.weekday}}<span class="card-blogu-title px-2 space-left">{{Sermon.get_swahili_date}}</span></span>
                            <span class="card-mahubiri-cards-title"><span class="somo-title">SOMO LA KWANZA :</span>{{Sermon.somo_la_kwanza}}</span>
                            <span class="card-mahubiri-cards-title"><span class="somo-title">SOMO LA PILI :</span>{{Sermon.somo_la_pili}}</span>
                            <span class="card-mahubiri-cards-title"><span class="somo-title">INJILI :</span>{{Sermon.injili}}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            <div class="pagination-container text-center pt-5">
                <nav aria-label="page navigation">
                    <ul class="pagination justify-content-center mb-0">
                        {% if Sermons.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{Sermons.previous_page_number}}">Uliopita</a>
                        </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="page-link">Ukurasa {{Sermons.number}} | {{Sermons.paginator.num_pages}}</span>
                        </li>
                        {% if Sermons.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{Sermons.next_page_number}}">Ufuatao</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
      
        </div>
    </div>


    {% endblock %}