{% extends 'base1.html'%}
{% load static %}

{% block content %}


    <div class="container-fluid podikasiti-page-container">
        <div class="row podikasiti-page-row ">
            <div class="col-sm top-space">
                <div class="podikasiti-page-date">{{podcasts.get_swahili_date}}</div>
                <div class="podikasiti-page-title text-center mb-3">{{podcasts.title}}</div>
                <div class="carousel podikasiti-page-carousel2 videoCarousel" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active videoCarousel2">
                            <iframe class="d-block w-100 carousel-video2"
                                src="{{podcasts.video_url}}" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="podikasiti-page-row1 mt-2">
                <div class="discover-section6 py-3">
                    <div class="discover-line6"></div>
                    <div class="discover-text6"><i class="fa-solid fa-pen space-right"></i>YALIYOMO<i class="fa-solid fa-cross space-left"></i></div>
                    <div class="discover-line6"></div>
                </div>
                <div class="podikasiti-page-text">{{podcasts.maelezo}}
                </div>
            </div>
        </div>
    </div>


    {% endblock %}