{% extends 'base.html'%}
{% load static %}

{% block content %}


  <div class="container-fluid jisajili-container">
    <div class="jisajili-overlay"><img src="{% static 'assets/images/47.jpg' %}" alt="church"></div>
    <div class="row jisajili-page-row">
      <div class="col-sm">
        <div class="card shadow card-jisajili-cards h-100 ">
          <div class="card-body card-ratiba-body">
            <div class="text-center">
              <span class="form-head1 d-flex justify-content-center pb-2 pt-2">REJESHA AKAUNTI</span>
              <span class="form-head-rejesha pb-4">MT-AMBROSI TAGASTE<span class="form-head-icons"><i
                    class="fa-solid fa-church"></i></span></span>
            </div>
            
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags  == 'error' %}
                        <center><div class="font-message-form" style="color:firebrick;">{{message}}</div></center>
                    {% else %}
                        <center><div class="font-message-form" style="color:dodgerblue;">{{message}}</div></center>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <form method="POST">
              {% csrf_token %}

              <div class="mb-3 mt-4 jisajili-form">
                <label for="password" class="form-label">Neno la siri Jipya</label>
                <input type="password" class="form-control form-control1" name="password" id="password"  required>
              </div>
              <div class="mb-3 jisajili-form">
                <label for="confirm_password" class="form-label">Thibitisha neno la siri</label>
                <input type="password" class="form-control form-control1" name="confirm_password" id="confirm_password" required>
              </div>
              <div class="mt-5 d-flex justify-content-center ">
                <button type="submit" class="btn btn-form">Rejesha Akaunti</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}