{% extends 'base.html'%}
{% load static %}

{% block content %}


    <div class="container-fluid jisajili-container">
        <div class="jisajili-overlay"><img src="{% static 'assets/images/47.jpg' %}" alt="church"></div>
        <div class="row jisajili-page-row">
            <div class="col-sm">
                <div class="card shadow card-jisajili-cards h-100 ">
                    <div class="card-body card-ratiba-body">
                        <div class="text-center">
                            <span class="form-head1 d-flex justify-content-center pb-2 pt-2">REJESHA AKAUNTI</span>
                            <span
                                class="form-head-rejesha pb-3">MT-AMBROSI
                                TAGASTE<span class="form-head-icons"><i class="fa-solid fa-church"></i></span></span>
                        </div>
                        <!-- Line with Bootstrap utilities -->
                        <div class="mx-auto my-3 horizontal-line-resettext"></div>
                        <form method="POST">
                            
                            {% csrf_token %}
                            <div class="mb-3 mt-3 justify-content-center text-center rejesha-akaunti-ujumbe">
                                Link ya kurejesha neno la siri imetumwa kwenye barua pepe yako na <b>itakuwa batili
                                    baada ya dakika 10!</b>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}